---
layout: single
title: "Teaching"
permalink: /teaching/
author_profile: true
---

## Courses Taught

### College of Business and Economics (CBE), Australian National University (ANU)

* **Microeconomics 1 (ECON1101)**
    * Role: Teaching Assistant (Tutor)
    * Instructor: Associate Professor Paul Chen
* **Macroeconomics 1 (ECON1102)**
    * Role: Teaching Assistant (Tutor)
    * Instructor: Dr. Cameron Gordon
* **Economics 1 Honours (ECON1100)**
    * Role: Teaching Assistant (Tutor)
    * Instructor: Dr. Dana Hanna

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
